/* TODO MOVE? */
@theme {
    --spacing-px: 1px;
    --spacing-0: 0;
    --spacing-xs: var(--spacing-1);
    --spacing-sm: var(--spacing-2);
    --spacing-md: var(--spacing-4);
    --spacing-lg: var(--spacing-6);
    --spacing-xl: var(--spacing-8);
    --spacing-2xl: var(--spacing-12);
    --spacing-3xl: var(--spacing-16);
}

@layer utilities {
    .opacity-disabled {
        @apply opacity-60;
    }

    .outline-sm {
        @apply outline-2;
    }

    .z-index-base {
        z-index: 0;
    }

    .z-index-drawer {
        z-index: 500;
    }

    .z-index-modal {
        z-index: 1000;
    }
}
