/* TODO MOVE? */
@theme {
    --spacing-px: 1px;
    --spacing-0: 0;
    --spacing-xs: calc(var(--spacing) * 1);
    --spacing-sm: calc(var(--spacing) * 2);
    --spacing-md: calc(var(--spacing) * 4);
    --spacing-lg: calc(var(--spacing) * 6);
    --spacing-xl: calc(var(--spacing) * 8);
    --spacing-2xl: calc(var(--spacing) * 12);
    --spacing-3xl: calc(var(--spacing) * 16);
}

@utility opacity-disabled {
    @apply opacity-60;
}

@utility outline-sm {
    @apply outline-2;
}

@utility z-base {
    z-index: 0;
}

@utility z-drawer {
    z-index: 500;
}

@utility z-modal {
    z-index: 1000;
}

@utility apply-overlay {
    @apply fixed top-0 bottom-0 left-0 right-0 bg-body-overlay backdrop-blur-sm;
}
