@utility opacity-disabled {
    @apply opacity-60;
}

@utility outline-sm {
    @apply outline-2;
}

@utility z-base {
    z-index: 0;
}

@utility z-drawer {
    z-index: 500;
}

@utility z-modal {
    z-index: 1000;
}

@utility apply-overlay {
    @apply fixed top-0 bottom-0 left-0 right-0 bg-body-overlay backdrop-blur-sm;
}
