@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    section {
        @apply mb-4 border-b pb-4 flex flex-col gap-2
            last-of-type:border-b-0;
    }

    section h2 {
        @apply text-2xl mb-2 font-mono;
    }

    section h3 {
        @apply text-xl font-mono;
    }
}

@layer components {
    .swatch {
        @apply w-8 h-8 inline-block border;
    }

    .icon {
        @apply inline-block h-[20px] w-[20px] text-[0] align-bottom;
    }

    .icon::after {
        @apply h-full w-full inline-block bg-current;
        content: "";
        -webkit-mask: var(--bg-icon) no-repeat center;
        mask: var(--bg-icon) no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
    }

    .icon-adjustments {
        /* TODO properly import and transform */
        --bg-icon: url("heroicons/20/solid/adjustments-horizontal.svg?raw");
    }

    .icon-sparkles {
        /* TODO properly import and transform */
        --bg-icon: url("heroicons/20/solid/sparkles.svg?raw");
    }

    .icon-x-mark {
        /* TODO properly import and transform */
        --bg-icon: url("heroicons/20/solid/x-mark.svg?raw");
    }
}
